{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Django Ecommerce</title>
          {% tailwind_css %}

    </head>
    <body>
    {% include 'navbar.html' %}

    {% if messages %}

  {% for message in messages%}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
  {% endfor %}

    {% endif %}

    {% block content %}
    {% endblock %}
       
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy;  SkyMall</p></div>
        </footer>
    </body>
</html>
